In [0]:
%sql
SHOW DATABASES;

databaseName
default
itversity_demo
itversity_retail_db

In [0]:
%sql
USE itversity_retail_db;
SHOW TABLES;

database,tableName,isTemporary
itversity_retail_db,daily_revenue,false
itversity_retail_db,daily_revenue_stg,false
itversity_retail_db,dept,false
itversity_retail_db,emp,false
itversity_retail_db,order_items,false
itversity_retail_db,orders,false
itversity_retail_db,users,false

In [0]:
%sql
CREATE TABLE emp(
  emp_id INT,
  name VARCHAR(50),
  superior_emp_id INT,
  year_joined STRING,
  emp_dept_id STRING,
  gender STRING,
  salary FLOAT
);

INSERT INTO emp VALUES
(1,"Smith",-1,"2018","10","M",3000),
(2,"Rose",1,"2010","20","M",4000),
(3,"Williams",1,"2010","10","M",1000), 
(4,"Jones",2,"2005","10","F",2000), 
(5,"Brown",2,"2010","40","",-1),
(6,"Brown",2,"2010","50","",-1); 

CREATE TABLE dept(
  dept_name STRING,
  dept_id INT
);

INSERT INTO dept VALUES
("Finance",10), 
("Marketing",20), 
("Sales",30), 
("IT",40);

num_affected_rows,num_inserted_rows
4,4

In [0]:
%sql
SELECT * FROM emp;

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000.0
2,Rose,1,2010,20,M,4000.0
3,Williams,1,2010,10,M,1000.0
4,Jones,2,2005,10,F,2000.0
5,Brown,2,2010,40,,-1.0
6,Brown,2,2010,50,,-1.0

In [0]:
%sql
SELECT * FROM dept;

dept_name,dept_id
Finance,10
Marketing,20
Sales,30
IT,40

##### JOINS
- ALL the Joins are same: `INNER`, `LEFT`, `RIGHT`, `FULL`, `CROSS`, `SELF`
- Spark also provide additional important joins: 
- `SEMI JOIN`/ LEFT SEMI JOIN: Inner Join, but you only get the data from left table
- `ANTI JOIN`/ LEFT ANTI JOIN: Opposite to SEMI JOIN, return the non matching record from left table

In [0]:
%sql
SELECT *
FROM emp e 
SEMI JOIN dept d on e.emp_dept_id = d.dept_id;

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000.0
2,Rose,1,2010,20,M,4000.0
3,Williams,1,2010,10,M,1000.0
4,Jones,2,2005,10,F,2000.0
5,Brown,2,2010,40,,-1.0

In [0]:
%sql
SELECT *
FROM emp e 
ANTI JOIN dept d on e.emp_dept_id = d.dept_id;

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
6,Brown,2,2010,50,,-1.0